
.ipynb_checkpoints/Web_scraping -checkpoint.ipynb
.ipynb_checkpoints/Web_scraping-checkpoint.ipynb
.ipynb_checkpoints/Web_scraping_name_and_price_from_cards-checkpoint.ipynb
.ipynb_checkpoints/Web_scraping-checkpoint-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/Web_scraping_info_per_product-checkpoint.ipynb
.ipynb_checkpoints/Web_scraping_cards_main_info-checkpoint.ipynb
.ipynb_checkpoints/Web_scraping_cards_raiting-checkpoint.ipynb
.ipynb_checkpoints/Cleaning_dog_food_data-checkpoint.ipynb
Cleaning/.ipynb_checkpoints/Cleaning_dog_food_data-checkpoint.ipynb
Scarping/.ipynb_checkpoints/Web_scraping_cat_food-checkpoint.ipynb
Cleaning/.ipynb_checkpoints/Cleaning_cat_food_data copy-checkpoint.ipynb
