
.ipynb_checkpoints/Web_scraping -checkpoint.ipynb
.ipynb_checkpoints/Web_scraping-checkpoint.ipynb
.ipynb_checkpoints/Web_scraping_name_and_price_from_cards-checkpoint.ipynb
.ipynb_checkpoints/Web_scraping-checkpoint-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/Web_scraping_info_per_product-checkpoint.ipynb
